body {
    margin: 0;
    background-color: #2e2e2e;
    font-family: 'Nanum Gothic', sans-serif;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.navbar {
    background-color: #272a31;
    padding: 10px;
}

.navbar-dark {
    color: #ffffff;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    width: 100%;
}

.m-1 {
    margin: 5px;
}

.row {
    display: flex;
    flex: 1;
}

.col-md-6 {
    flex: 50%;
}

.jumbotron {
    margin: 50px;
    padding-left: 100px;
}

.text-center {
    text-align: left;
    width: 100%;
}

.lead {
    margin-top: 0!important;
}

.bg-white {
    background-color: #ffffff;
}

.col-lg-6 {
    flex: 50%;
}

.text-light {
    color: #ffffff;
}

.form-control {
    width: 100%;
    padding: 16px!important;
    box-sizing : border-box;
    margin-bottom: 16pt;
}

.btn-block {
    width: 100%;
}

.btn-lg {
    display: inline-block;
    line-height: 1.5;
}

.btn-dark {
    color: #ffffff;
}

.text-success {
    color: #281745;
}

.d-flex {
    display: flex;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.table-responsive {
}

.table {
    width: 100%;
}

.table-borderless {
    border: 0;
}

.image-sm {
    height: 30px;
}

.geo-image {
    background-image: url(picture.svg); 
    background-size: 100%;
}

.bg-darkblue {
    background-color: #1f2037;
}

.bg-green {
    background-color: #296d63;
}

.bg-black {
    background-color: rgb(50, 50, 50);
}

.col-grey {
    color: rgb(173, 173, 173);
}

.col-darkgrey {
    color: rgb(102, 102, 102);
}

input {
    border-radius: 0 !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px;
    border: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-orange {
    border: none;
    border-radius: 0;
    background-color: #c85d31;
    font-size: 16px;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: default !important;
}

.btn-orange:hover:enabled {
    background-color: #b85128 !important;
}

.btn-orange:active:enabled {
    background-color: #9e431f !important;
}

.btn-orange:focus:enabled {
    outline: none !important;
    box-shadow: none !important;
}

.btn-orange:disabled {
    background-color: #642e15;
    color: #888888;
}

.field-var {
    background-image: url('logo.png');
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 20px;
}

.field-var:hover {
    background-color: transparent;
}

.text-cut {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
}


/*field classes*/

.node {
    position: absolute;
    border-radius: 50%;
    background-size: 100% !important;
    border-width: 0;
}

.segment {
    position: absolute;
}

.grid {
    position: absolute;
}

#field {
    position: relative;
    background: #fffefe;
    width: 350px;
    height: 350px;
    margin-bottom: 100px;
}

/* #score {
    display: none;
} */
