body {
    background-color: #2e2e2e;
    font-family: 'Nanum Gothic', sans-serif;
}

.image-sm {
    height: 30px;
}

.my-jumbotron {
    background-color: transparent;
    border-radius: 0 !important;
}

.bg-darkblue {
    background-color: rgb(24, 32, 51);
}

.bg-green {
    background-color: rgb(18, 128, 113);
}

.bg-black {
    background-color: rgb(50, 50, 50);
}

.col-grey {
    color: rgb(173, 173, 173);
}

.col-darkgrey {
    color: rgb(102, 102, 102);
}

input {
    border-radius: 0 !important;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 16px !important;
    border: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.orange {
    border: none !important;
    border-radius: 0 !important;
    background: #c56249 !important;
    font-size: 16px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.field-var {
    background-image: url('logo.png');
    background-size: 100%;
    background-color: transparent;
    border: 0;
    height: 100px;
    width: 100px;
    margin: 5px;
    font-size: 20px;
}

.field-var:hover {
    background-color: transparent;
}
